<form (submit)="login()">
  <div class="form-group">
    <label for="email">
      Email
      <span *ngIf="errors.email !== ''">{{errors.email}}</span>
    </label>
    <input type="email" class="form-control" name="email" [(ngModel)]="credentials.email">
  </div>
  <div class="form-group">
    <label for="password">
      Password
      <span *ngIf="errors.password !== ''">{{errors.password}}</span>
    </label>
    <input type="password" class="form-control" name="password" [(ngModel)]="credentials.password">
  </div>
  <div class="error" *ngIf="errors.credentials">{{errors.credentials}}</div>
  <button type="submit" class="btn btn-default">Login</button>
</form>